:root{
    /* https://coolors.co/f7c59f-2a324b-767b91-c7ccdb-e1e5ee */
    /* https://coolors.co/f3b61f-2a324b-767b91-e1e5ee */

    /* https://coolors.co/visualizer/f3b61f-2a324b-767b91-101219-e1e5ee */

    --primary: #767B91;
    --primary-dark: #2A324B;
    --text: #101219;
    --accent: #F3B61F;
    --white: #EAEAEA;
}

*{
    color: var(--text);
}

body{
    background-color: var(--white);
    margin: 0;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title{
    font-size: 500%;
    text-align: center;
    margin-bottom: 10%;
}

/* -------------------------------------------- */
/* Main Section */
/* -------------------------------------------- */
#main-section{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main-section h1{
    color: var(--primary-dark);
    font-size: calc(3vw + 2rem);
    margin: 0;
}
#main-section h2{
    color: var(--primary);
    font-size: calc(3vw + 1rem);
    margin: 0;
}


/* -------------------------------------------- */
/* Projects */
/* -------------------------------------------- */
.project{
    width: 70%;
    box-shadow: 0 0 100px var(--primary-dark);
    padding: 1%;
    margin: 5%;
    background-color: var(--white);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* border-radius: 15px 50px 50px 15px; */
}
.project-section{
    margin: 0;
    padding: 1% 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-section h2{
    font-size: calc(3vw + 2rem);
}
.project-image{
    width: 50%;
    border: 3px solid transparent;
    border-radius: 10px;
}
.project-image:hover{
    border: 3px solid var(--primary-dark);
    border-radius: 10px;
}
.project-image:active{
    scale: .95;
}
.project-title{
    font-size: calc(3vw + 1rem);
}
.project-caption{
    font-size: calc(2vw + .1rem);
    margin: 0 5%;
}


/* -------------------------------------------- */
/* Best projects */
/* -------------------------------------------- */
.best-project-section.project-section{
    background-color: var(--primary-dark);
    display: block;
}
.best-project-section.project-section h2{
    color: var(--accent);
}
.best-project.project{
   box-shadow: 0 0 100px var(--accent); 
   background-color: var(--white);
}
.best-project.project:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(25%);
}
.best-project-image.project-image:hover{
    border-color: var(--accent);
}