*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*------------------------------------------------------*/
a{
    font-size: 3rem;
    color: orange;
    font-weight: 500;
    text-decoration: none;
    padding: 4vw 7vw;
    border-radius: 3vh;
    margin: 5%;
    background-color: black;
    border: solid lightgray 3px;
}
a:hover {
    color: gold;
    background-size: cover;
    border-color: black;
}
.aHolder{
    background-color: orange;
    width: 75vw;
    height: 60vh;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    border-radius: 2rem;
}
.aHolder p{
    color: white;
    font-size: 2.5rem;
    margin: 1rem;
}
#QDFp{
    font-size: 2rem;
}
/*------------------------------------------------------*/
.barraP{
    background-color: orange;
    height: 5vh;
    border-radius: 5vh;
    text-align: center;
}
.barraV{
    background-color: lightgray;
    width: 80%;
    height: 5vh;
    border-radius: 5vh;
}
/*------------------------------------------------------*/
#barBlend{
    width: 58%;
}
#barCpp{
    width: 80%;
}
#barCSS{
    width: 60%;
}
#barHTML{
    width: 75%;
}
#barJS{
    width: 90%;
}
/*------------------------------------------------------*/
body{
    margin: 0;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 4.5vh;
    text-align: center;
    animation: getIn 2s ease-out;
}
@keyframes getIn {
    0% {margin-top: 100rem;}
}
.container h3{
    width: 20%;
}
#link_cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    background-color: black;
    margin: 0;
}
#link_cont h2{
    color: white;
}
/*------------------------------------------------------*/
#link_tombola{
    background-image: url('../Assets/tombola.png');
}
#link_KO{
    background-image: url('../Assets/ko.png');
}
#link_domandeDiM{
    background-image: url('../Assets/QDFaDiM.png');
}
#link_domandeDiM:hover{
    color: #00000000;
}
#link_Tris{
    background-image: url("../Assets/tris.png");
}

#link_appInv{
    background-image: url(../Assets/Roulette-Regole.png);
    background-color: green;
    width: 10vw;
}
#link_predFrom{
    background-image: url(../Assets/predictorFromDayCases.png);
}
/*------------------------------------------------------*/
.study{
    background-color: orange;
    width: 60vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    margin: 5rem;
    margin-bottom: 2.5rem;
}
.study h3{
    font-size: 3rem;
}
.study p{
    font-size: 1.5rem;
    margin-top: 0;
}
.studyColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}
.subtitle{
    font-size: 8vh;
    text-align: center;
    margin-bottom: 15vh;
}

::-webkit-scrollbar{
    display: none;
}