*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bigBTN{
    font-size: 5rem;
    color: #ef8354;
    border: solid #2D3142 .5rem;
    background-color: #4f5d75;
    border-radius: 10rem;
    margin-top: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
.bigBTN:hover{
    background-color: #2D3142;
    border-color: #4f5d75;
    cursor: pointer;
}
body{
    text-align: center;
    background-color: #4f5d75;
}
#bodyFine{
    font-size: 4rem;
}
.btnHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#combo{
    font-size: 5rem;
    margin-top: 5rem;
}
#increment{
    color: #FFFFFF;
    font-size: 4.5rem;
    position: absolute;
    right: 32vw;
    top: 40vh;
    animation: increment 2s ease-out;
    visibility: hidden;
}
@keyframes increment {
    0%{color: #00000000;}
    50% {color: #FFFFFF;}
    100%{top: 20vh; color: #00000000;}
}

#intro{
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5rem;
    width: 75vw;
    height: 50vh;
    margin-left: 13vw;
    margin-top: 20vh;
    animation-name: intro;
    animation-duration: .75s;
    animation-timing-function: ease;
}
@keyframes intro {
    0% {scale: 0%;}
    75% {scale: 125%;}
    100% {scale: 100%;}
}

#intro p{
    margin-top: 7.5rem;
}
.label{
    width: 25rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mainBTN{
    padding: 1rem;
    padding-right: 4rem;
    padding-left: 4rem;
    border: 5px #FFFFFF solid;
    border-radius: .8rem;
    background-color: #2D3142;
    font-size: 10rem;
    color: #BFC0C0;
    width: 20rem;
    display: flex;
    justify-content: center;
}

#mainBTN:hover{
    border-color: #ef8354;
}
#mainBTN:active{
    /* quando sto effettivamente cliccando il tasto */
    color: #ef8354;
    scale: 90%;
}
#mainGame{
    position: fixed;    /* così quando scrollo rimane sempre fermo */
    width: 100%;
    height: 100%;
    z-index: -1;
}
#score{
    display: none;
    width: 75%;
    height: 60vh;
    margin-left: 13.5%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 20vh;
    border-radius: 5rem;
    animation-name: intro;
    animation-duration: .75s;
    animation-timing-function: ease;
}
#seeTrophies{
    /* background-image: url(../assets/trophies.png); */
    background-image: url(../assets/Trofei.png);
}

#stopTimer{
    background-image: url(../assets/stopButton.png);
}
#stopwatch{
    margin-top: 1.5rem;
    font-size: 6rem;
    color: #FFFFFF;
}
.title{
    margin-top: 0;
    font-size: 6.5rem;
    color: #ef8354;
}
.TLtitle{
    color: #ef8354;
    font-size: 3rem;
    margin-top: 1rem;
}
.TLbody{
    color: #4f5d75;
    font-size: 2rem;
}
#titoloFine{
    font-size: 8rem;
}
#titleHolder{
    display: flex;
    justify-content: space-between;
}
#trophyLabel{
    visibility: hidden;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid;
    animation: intro 1s;
}

#trophyLabel h2{
    font-size: 2.5rem;
    color: #ef8354;
}
#trophyLabel p{
    font-size: 2rem;
    color: #2D3142;
}
#trophyPage{
    position: absolute;
    display: none; /* Nascosto di defalut */
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer; /* Aggiunge la manina col dito */
    animation-name: tPage;
    animation-timing-function: ease-out;
    animation-duration: .25s;
}
@keyframes tPage{
    0%{margin-top: 100vh;}
}

.upperButtons{
    background-size: cover;
    background-color: #00000000;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: .25rem solid;
    padding: 3rem;
    margin-top: 3rem;
}
.upperButtons:hover{
    cursor: pointer;
}
.upperButtons:active{
    scale: 90%;
}