*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}
.black, .red, .green{
    border: white solid 0.1rem;
    margin: 0;
    text-align: center;
    font-weight: 500;
    width: 5vw;
    height: 2.4rem;
}
.black{
    background-color: black;
    color: white;
}
body{
    background-color: green;
}
.green{
    background-color: greenyellow;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
}
#main{
    display: flex;
    align-items: center;
}
#ruota{
    width: 30vw;
}
#ruota_img{
    width: 100%;
    height: auto;
}
#tabella{
    width: 69vw;
    margin-left: 1vw;
}
.red{
    background-color: red;
}
.row{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}